.articles .react-multi-carousel-list .react-multiple-carousel__arrow--right {
	background-color: #002b5b;
}

.articles
	.react-multi-carousel-list
	.react-multiple-carousel__arrow--right::before {
	-webkit-filter: brightness(0) invert(1);
	filter: brightness(0) invert(1);
}

.articles .react-multi-carousel-list .react-multiple-carousel__arrow--left {
	background-color: #002b5b;
}

.articles
	.react-multi-carousel-list
	.react-multiple-carousel__arrow--left::before {
	-webkit-filter: brightness(0) invert(1);
	filter: brightness(0) invert(1);
}

.articles .react-multi-carousel-list .react-multiple-carousel__arrow--right {
	position: absolute !important;
	top: 37%;
	transform: translate(-50%, -50%);
	right: -1%;
}

.articles .react-multi-carousel-list .react-multiple-carousel__arrow--left {
	position: absolute !important;
	top: 37%;
	transform: translate(-50%, -50%);
	left: 2%;
}
