.review {
	position: relative;
}

.review .react-multi-carousel-list {
	padding: 0px 0px !important;
}

.review .react-multi-carousel-list .react-multiple-carousel__arrow--right {
	position: absolute !important;
	top: 45%;
	background-color: #002b5b;
}

.review
	.react-multi-carousel-list
	.react-multiple-carousel__arrow--right::before {
	-webkit-filter: brightness(0) invert(1);
	filter: brightness(0) invert(1);
}

.review .react-multi-carousel-list .react-multiple-carousel__arrow--left {
	position: absolute !important;
	top: 90%;
	left: 90%;
	background-color: #002b5b;
}

.review
	.react-multi-carousel-list
	.react-multiple-carousel__arrow--left::before {
	-webkit-filter: brightness(0) invert(1);
	filter: brightness(0) invert(1);
}

.review .react-multi-carousel-list .react-multiple-carousel__arrow--left {
	top: 1%;
	left: 90%;
	height: 50px;
	width: 50px;
	border: 1px solid #002b5b;
	margin-left: -50px;
}

.review .react-multi-carousel-list .react-multiple-carousel__arrow--right {
	top: 1%;
	height: 50px;
	width: 50px;
	border: 1px solid #002b5b;
}

@media only screen and (max-width: 1040px) {
	.review .react-multi-carousel-list .react-multiple-carousel__arrow--right {
		top: 50% !important;
	}
	.review .react-multi-carousel-list .react-multiple-carousel__arrow--left {
		top: 50% !important;
		left: 12% !important;
	}
}
