@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	font-family: "Poppins", sans-serif;
}

code {
	font-family: "Poppins", sans-serif;
}

.ellipse {
	width: 100px;
	height: 95px;
	border-radius: 50%;
	background: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 47%;
	top: 5%;
	transform: translate(-50%, 0);
}
img {
	width: 100%;
}

.carousel-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 20px;
	max-width: 100%;
	margin: 0 auto;
	padding: 20px;
}
