@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	font-family: "Poppins", sans-serif;
}

code {
	font-family: "Poppins", sans-serif;
}

.ellipse {
	width: 100px;
	height: 95px;
	border-radius: 50%;
	background: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 47%;
	top: 5%;
	transform: translate(-50%, 0);
}
img {
	width: 100%;
}

.stylish_slider {
	position: relative;
}

.carousel-initialized {
	padding: 100px 0px !important;
}

.carousel-initialized .carousel-next {
	position: absolute !important;
	top: 45%;
	background-color: #002b5b;
}

.carousel-initialized .carousel-next::before {
	-webkit-filter: brightness(0) invert(1);
	filter: brightness(0) invert(1);
}

.carousel-initialized .carousel-prev {
	position: absolute !important;
	top: 90%;
	left: 90%;
	background-color: #002b5b;
}

.carousel-initialized .carousel-prev::before {
	-webkit-filter: brightness(0) invert(1);
	filter: brightness(0) invert(1);
}

.carousel-initialized .carousel-prev {
	top: 90%;
	left: 90%;
	height: 50px;
	width: 50px;
	border: 1px solid #002b5b;
	margin-left: -15px;
}

.carousel-initialized .carousel-next {
	top: 90%;
	height: 50px;
	width: 50px;
	border: 1px solid #002b5b;
}

.carousel-dots {
	width: 100px !important;
	position: absolute;
	top: 88%;
	left: 0;
}

.carousel-dots li.carousel-dots-active button:before {
	color: #002b5b !important;
}

@media only screen and (max-width: 1040px) {
	.stylish-devider {
		display: none;
	}
	.carousel-dots {
		display: none !important;
	}

	.carousel-initialized .carousel-next {
		left: 55%;
	}
	.carousel-initialized .carousel-prev {
		left: 45%;
	}
}
